@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Patrick+Hand+SC&display=swap');
body {
  background-color: black;
}
#titleOne {
  text-align: center;
  color: white;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 300%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: none;
  text-align: center;
}
li {
  float: center;
  font-family: 'Patrick Hand SC', cursive;
}

li a {
  display: inline-block;
  color: grey;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 150%;
}
li a:hover {
  color: white;
  text-decoration: double;
}
#descriptionHome {
  color: white;
  text-align: center;
  font-family: 'Courier Prime', monospace;
}

p.sourceName {
  color: white;
  font-family: 'Courier Prime', monospace;
}

a.linkName {
  color: grey;
  font-family: 'Courier Prime', monospace;
  text-decoration: none;
}

a.linkName:hover {
  color: whitesmoke;
}

p.datePlace {
  text-align: right;
  color: grey;
}
