@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Patrick+Hand+SC&display=swap");
* {
  background-color: rgb(39, 39, 39);
  /*box-sizing: border-box;
  border-style: solid;*/ /*only do this to see the borders*/
}

#titleOne {
  text-align: center;
  color: white;
  font-family: "Patrick Hand SC", cursive;
  font-size: 300%;
}

body {
  margin: 0;
  line-height: inherit;
}

a {
  font-family: "Patrick Hand SC", cursive;
  display: inline-block;
  color: grey;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 150%;
}

a:hover {
  color: white;
  text-decoration: double;
}

.topContainer {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: center;
  max-width: 750px !important;
  padding: 0 1rem;
  margin: 0 auto;
}

.descriptionContainer {
  font-family: "Courier Prime", monospace;
  color: white;
  text-align: center;
  height: 190px;
  width: 500px;
  display: flex;
  background-color: transparent;
  justify-content: center;
  max-width: 750px !important;
  padding: 0 1rem;
  margin: 0 auto;
}

.bodyContainer {
  font-family: "Courier Prime", monospace;
  display: inline-flexbox;
  color: grey;
  max-width: 750px !important;
  padding: 0 1rem;
  margin: 0 auto;
}

#titleName {
  text-align: left;
  text-decoration: none;
  margin: 0 auto;
}

#dateIssue {
  display: inline-flexbox;
  text-align: right;
  justify-content: right;
  float: right;
  width: 40%;
}

.exploreHeaderContainer {
  font-family: "Courier Prime", monospace;
  color: white;
  text-align: left;
  max-width: 750px !important;
  padding: 0 1rem;
  margin: 0 auto;
}

hr.solid {
  border-top: 1px solid #bbb;
}

.bottomContainer {
  color: pink;
  font-family: "Patrick Hand SC", cursive;
  text-align: center;
  max-width: 750px !important;
  padding: 0 1rem;
  margin: 0 auto;
  /*copied from the website will relearn*/
  line-height: 1.75rem;
  margin-top: 4rem;
  font-size: 1.25rem;
  padding-top: 1.25rem;
}

#nameLink {
  color: pink;
  font-family: "Patrick Hand SC", cursive;
  text-align: center;
  /*copied from the website will relearn*/
  line-height: 1.75rem;
  margin-top: 4rem;
  font-size: 1.25rem;
  padding-top: 1.25rem;
}

#nameLink:hover{
  color: grey;
  text-decoration: none;
}